.bg-red {
    background-color: #e57373;
}

.bg-pink {
    background-color: #F48FB1;
}

.bg-light-blue {
    background-color: #29B6F6;
}

.bg-black {
    background-color: #333;
}

.white {
    color: #FAFAFA;
}